a {
   text-decoration: none;
   color: #7F7AF0;
   font-weight: 500;
   cursor: pointer;
}

ion-icon {
   font-size: 2em;
   color: black;
   cursor: pointer;
}
a.active { color: rgb(175, 143, 143); }

:host {
   // display: block;
   height: 4em;
}