h1{
    color: #7F7AF0;
}

h2 {
    font-size: 35px;
    font-weight: bold;
}
h4 {
    font-size: 15px;
    font-weight: bold;
}

#banner {
     h1 {
        font-size: 40px;
        padding-top: 2em;
        padding-bottom: 0.5em;
        text-align: center  ;
        font-family:cursive;
     }
    ion-img {
        margin-top: 2em;
    }
}

#about-us {
    
    p {
        z-index: 3;
    }
    ion-img {
        position: relative;
        top: -40px;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .card {
        margin-top: 2em;
        height: 15em;
        width: 25em;
        padding: 1em;
        padding-top: 3em;

        ion-icon{
            font-size: 2em;
            color: #7F7AF0;
        }
        h4 {
            margin-top: 1em;
        }
      
    }
    .card:hover {
        background-color: rgb(212, 209, 209);
    }
}

hr {
    color: black;
    width: 2px;
}

#services {
    padding-top: 3em;
    padding-bottom: 3em;
    ion-icon {
        font-size: 3em;
        color: #7F7AF0;
    }
    h3 {
        font-weight: bold;
    }
    .servItem {
        margin-top: 2em;
    }
    .servItem:hover {
        ion-icon {
            color: #65206e;
        }
    }
}

#techIndex {
    margin-top: 4em;
    padding-top: 4em;
    background: url('../../assets/relationships.jpg')
    no-repeat ;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    ion-card {
        padding: 2em;
        color: white;
        background-color: transparent;
    }

    ion-card:hover {
        background-color: white;
        color: rgb(32, 32, 32);
        ion-icon {
            color: rgb(32, 32, 32);
        }
    }

    ion-icon {
        font-size: 45px;
        color: white;
    }

    ion-label {
        font-weight: bold;
    }
    h2 {
        color: white;
    }
    h1 {
        color: whitesmoke;
    }
   
}
#clients {
    color: white;
    padding-top: 4em;
    background: url('../../assets/map-dark.jpg') no-repeat;
    background-size: cover;
    background-position-x: center;
    font-size: 20px;

    ion-card {
        padding: 4em;
        background-color: #322B5D;
        color: white;
        margin-top: 2em;
        font-size: 17px;
    }
    h1 {
        color: #8E88B8;
    }
    h3 {
        font-size: 23px;
    }
    h5 {
        font-size: medium;
    }
    p {
        margin-top: 2em;
    }
 
}

