<!-- <ion-toolbar> -->
    <!-- <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2em">
      <a target="_blank" href="https://www.facebook.com/kenulenwinee35/"> <ion-icon name="logo-facebook"></ion-icon></a>
      <a href="https://www.linkedin.com/in/kenule-nwinee" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
      <a href="https://www.instagram.com/kenulenwinee/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
    </div> -->
<!-- </ion-toolbar>   -->
<div fxLayout="row">
  <div class="ion-text-center" fxLayout="column" fxFlexOffset="5%" fxFlex="90%" fxLayoutGap="3em">
    <div ><a  routerLink="/home">Nwisoft</a></div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
      <div fxLayout="column" fxFlex="33%" fxLayoutGap="1em">
        <div><ion-icon src="../../assets/place.svg"></ion-icon></div>
        <ion-label>14 Joseph Wali Street, Rumuigbo,</ion-label>
        <ion-label> Port Harcourt, Rivers State, Nigeria</ion-label>
        <ion-label>Our Address</ion-label>
      </div>
      <div fxLayout="column" fxFlex="33%" fxLayoutGap="1em">
       <div> <ion-icon name="mail"></ion-icon></div>
        <ion-label>contact@nwisoft.com</ion-label>
        <ion-label>support@nwisoft.com</ion-label>
        <ion-label>Our Mailbox</ion-label>
      </div>
      <div fxLayout="column" fxFlex="33%" fxLayoutGap="1em">
        <div><ion-icon name="call"></ion-icon></div>
        <ion-label>+234 813 871 2343</ion-label>
        <ion-label>+234 813 871 2343</ion-label>
        <ion-label>Our Phone</ion-label>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
      <p>Copyright © {{thisYear()}} proudly by Nwisoft &trade. All Rights Reserved.</p>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2em">
        <a target="_blank" href="https://www.facebook.com/kenulenwinee35/"> <ion-icon name="logo-facebook"></ion-icon></a>
        <a href="https://www.linkedin.com/in/kenule-nwinee" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
        <a href="https://www.instagram.com/kenulenwinee/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
      </div>
    </div>
  </div>
</div>

